DOMAIN_NAME            = ""
SERVER_NAME            = ""
REGION                 = ""
INSTANCE_TYPE          = ""
EC2_VOLUME_IMAGE       = ""
DOCKER_COMPOSE_VERSION = ""
TIME_ZONE              = ""

JAVA_VERSION          = ""
AUTHOR                = ""
MEMORY_SIZE           = ""
MINECRAFT_VERSION     = ""
SERVER_CONTAINER_NAME = ""
WORLD_SEED            = ""
